@import '../../assets/scss/vars';

.account-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    //top: 40px;
    z-index: 5;
    width: 100%;
    //height: $f-header-height;
    //color: #121317;
    //background-color: var(--f-primary-color);
    //transition: height $transition-length ease;
}

@include media-max($bp-large) {
    .account-header {
        position: initial;
    }
}
